<html>

</head>
  <body style="background:url(https://www.seekpng.com/png/detail/194-1944903_instagram-logo-green-screen.png) center;">
    </p><br /><br /><p>
      <!-- <div class="h1"> -->
  <!-- </div> -->
    
  </html>
<html> 
	<style>
		* {
  box-sizing: border-box;
		}
		.searchbox2 {
		font-size: 24px;
		background-color: white;
		opacity: 0.8;
		padding: 50px;
		}
		.searchbox2 input{
    font-size: 24px;
		}
	</style>
	<div class="searchbox2">
   <body>       
      <form action = "login" method = "post" align = "center"> 
         <p>Enter Name:</p> 
         <p><input name = "nm" /></p> 
         <p><input type = "submit" /></p> 
      </form> 
      <p align="center" style="color:Tomato;">{{ warning }} </p>      
   </body> 
</div>
</html> 